<template>
  <v-app>
    <navbar></navbar>
    <router-view></router-view>
  </v-app>
</template>

<script>
import Navbar from "./Navbar.vue"
export default {
  data() {
    return {};
  },
  components: {
    navbar: Navbar,
  },
}
</script>
