<template>
  <div>
    <v-container ml-3>
      <v-layout row mb-4>
        <v-flex>
          <h2 class="mb-2">Original Image</h2>
          <img v-bind:src="originalImageData.image" width="200">
        </v-flex>
        <v-flex>
          <v-card width="500" class="pa-3">
            <h2>Comparison Image</h2>
            <v-container>
              <v-layout row justify-center>
                <img v-bind:src="compareImage" width="150" height="100%" alt="image preview" v-if="isSelected">
                <v-card dark color="blue-grey lighten-2" width="150" height="100" class="mb-3" v-else>
                  <v-card-text class="text-xs-center">
                    <v-icon x-large dark>photo_size_select_actual</v-icon>
                    <br><span>Image preview</span>
                  </v-card-text>
                </v-card>
              </v-layout>
              <v-layout row justify-center>
                <input type="file" id="file-upload" v-on:change="uploadFromFS" style="display: none;">
                <v-btn v-on:click="openFileUpload" color="primary">select image</v-btn>
                <v-btn v-on:click="uploadCompareImage" color="success">upload image</v-btn>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
      <img v-bind:src="compareResultImage" width="800">
      <v-btn v-on:click="downloadImage()" color="primary" v-if="isComparedSelected">download</v-btn>
    </v-container>
  </div>
</template>

<script>
import config from "./Config.js"
export default {
  data() {
    return {
      isSelected: false,
      isComparedSelected: false,
      compareImage: null,
      compareResultImage: null,
    }
  },
  computed: {
    originalImageData() {
      return this.$store.state.originalImageData;
    },
    uploader() {
      return this.$store.state.originalImageUploader;
    },
    convertedImageUrl() {
      return this.compareResultImage.replace(/^data:image\/[^;]+/, 'data:application/octet-stream');
    },
  },
  methods: {
    downloadImage() {
      var url = this.compareResultImage.replace(/^data:image\/[^;]+/, 'data:application/octet-stream');
      window.open(url, "test.jpg");
      window.location.href = this.compareResultImage
    },
    uploadCompareImage() {
      fetch(config.backend + "/compare", {
        body: JSON.stringify({
          compareImage: this.compareImage, 
          originalImageName: this.originalImageData.name,
          uploader: this.originalImageData.uploader,
        }),   
        method: "post",
        headers: {"content-type": "application/json"},
      })
      .then(response => response.blob())
      .then(blob => {
        const reader = new FileReader();
        reader.addEventListener("load", function() {
          this.compareResultImage = reader.result;
          this.isComparedSelected = true;
        }.bind(this));
        reader.readAsDataURL(blob);
      })
      .catch(err => console.log(err));
    },
    uploadFromFS(event) {
      const file = event.target.files[0];
      const reader = new FileReader();

      reader.addEventListener("load", function(event) {
        this.compareImage = reader.result;
        this.isSelected = true;
      }.bind(this));

      reader.readAsDataURL(file);
    },
    openFileUpload(event) {
      document.getElementById("file-upload").click();
    }
  },
}
</script>