<template>
  <v-content>
    <v-progress-linear :indeterminate="true" :active="isLoading"></v-progress-linear>
    <v-container>
      <v-layout v-for="imageData in images" v-bind:key="imageData.image" row mb-3>
        <v-layout align-end column>
          <img v-bind:src="imageData.image" width="500" alt="image preview...">
        </v-layout>
        <v-layout align-start column ml-3>
          <div>Uploader: {{imageData.uploader}}</div>
          <div>Uploader name: {{imageData.firstname}} {{imageData.lastname}}</div>
          <div>Date: {{imageData.date}}</div>
          <div>Image name: {{imageData.name}}</div>
          <v-btn v-bind:href="imageData.image" download target="_blank" color="success">download</v-btn>
          <v-btn v-on:click="storeImage(imageData)" to="/compare" color="primary">compare</v-btn>          
        </v-layout>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import config from "./Config.js"
export default {
  data() {
    return {
      images: [],
      isLoading: true,
    }
  },
  created() {
    this.loadImageList()
  },
  methods: {
    storeImage(imageData) {
      this.$store.commit("changeOriginalImage", imageData);
    },
    loadImageList() {
      fetch(config.backend + "/imageList")
        .then(response => response.json())
        .then(json => {
          this.isLoading = false;
          this.images = json.imageList;
        })
        .catch(err => console.log(err));
    },
  }
}
</script>

<style>
.left-col {
  background-color: green;
}

.right-col {
  background-color: red;
}


</style>