<template>  
  <v-toolbar dark color="teal">
    <v-toolbar-items>
      <v-btn to="/images" flat>Images</v-btn>
      <v-btn to="/upload" flat>Upload</v-btn>
      <v-btn to="/register" flat>Register</v-btn>
    </v-toolbar-items>
  </v-toolbar>  
</template>