<template>
  <div style="width:450px;">
    <v-container ml-3>
      <h1>Register</h1>
      <v-text-field label="Firstname" v-model:value="firstname"></v-text-field>
      <v-text-field label="Lastname" v-model:value="lastname"></v-text-field>
      <v-text-field label="Password" v-model:value="password" type="password"></v-text-field>
      <div>
        <v-btn v-on:click="register()" color="primary">Create Account</v-btn>
        <v-progress-circular v-if="loading" indeterminate color="amber"></v-progress-circular>
      </div>
      <div v-if="address">
        <br>
        Account Creation successful. Save address and password for later!
        <v-text-field label="Address" v-bind:value="address" readonly></v-text-field>
      </div>
    </v-container>
  </div>
</template>


<script>
import config from "./Config"
export default {
  data() {
    return {
      firstname: "",
      lastname: "",
      password: "",
      address: "",
      loading: false,
    };
  },
  methods: {
    register() {
      this.loading = true;
      fetch(config.backend + "/register", {
        body: JSON.stringify({
          firstname: this.firstname, 
          lastname: this.lastname, 
          password: this.password,
        }),   
        method: "post",
        headers: {"content-type": "application/json"},
      })
      .then(response => {
        this.loading = false;
        if (response.status >= 300) {
          throw "Error occured in registration, status " + response.status; 
        }
        return response.text();
      })
      .then(text => this.address = text)
      .catch(err => console.log(err));
    },
  },
}
</script>