  <template>
    <div>
      <v-container ml-3>
        <h1>Upload</h1>

        <v-card width="500" class="pa-3">
          <v-container>
            <v-layout row justify-center>
              <img v-bind:src="image" width="150" height="100%" alt="image preview" v-if="isSelected">
              <v-card dark color="blue-grey lighten-2" width="150" height="100" class="mb-3" v-else>
                <v-card-text class="text-xs-center">
                  <v-icon x-large dark>photo_size_select_actual</v-icon>
                  <br><span>Image preview</span>
                </v-card-text>
              </v-card>
            </v-layout>
            <v-layout row justify-center>
              <input type="file" id="file-upload" v-on:change="uploadFromFS" style="display: none;">
              <v-btn v-on:click="openFileUpload" color="primary">select image</v-btn>
              <v-btn v-on:click="sendImageToServer" color="success">upload image</v-btn>
            </v-layout>
          </v-container>
        </v-card>

        <div>
          <img v-bind:src="modifiedImage" width="600">
        </div>
        <v-card width="500" v-if="isSelected">
          <div class="pa-3">
            Grid Size: {{gridValue}}x{{gridValue}}
            <v-slider v-model="gridValue" v-on:input="fetchModifiedImage" thumb-label step="1" min="1" max="10" ticks></v-slider>
            <v-progress-circular v-if="calcLoading" indeterminate color="amber"></v-progress-circular>
            <v-text-field label="Image name" v-model:value="imageName" required></v-text-field>
            <v-text-field label="Account address" v-model:value="uploader" required></v-text-field>
            <v-text-field label="Password" v-model:value="password" type="password" required></v-text-field>
            <div>
              <v-btn v-on:click="saveImage">save image</v-btn>
              <v-progress-circular v-if="saveLoading" indeterminate color="amber"></v-progress-circular>
            </div>
          </div>
        </v-card>

      </v-container>
    </div>
  </template>

  <script>
  import config from "./Config.js"
  export default {
    data() {
      return {
        image: null,
        session: null,
        calcLoading: false,
        saveLoading: false,
        gridValue: 1,
        modifiedImage: null,
        imageName: "",
        uploader: "",
        password: "",
        isSelected: false,
      };
    },
    methods: {
      saveImage() {
        if (this.session && this.imageName) {
          this.saveLoading = true;
          fetch(config.backend + "/saveImage", {
            body: JSON.stringify({
              session: this.session,
              imageName: this.imageName,
              uploader: this.uploader,
              password: this.password,
            }),
            method: "post",
            headers: {"content-type": "application/json"},
          })
          .then(response => {
            this.saveLoading = false;
            if (response.status >= 300) {
              throw "error";
            } 
            this.$toastr.s("success")
          })
          .catch(err => this.$toastr.e("error"));
        }
      },
      fetchModifiedImage() {
        this.calcLoading = true
        if (this.session) {
          let url = new URL(config.backend + "/gridImage");
          url.search = new URLSearchParams({
            session: this.session,
            columns: this.gridValue,
            rows: this.gridValue
          });
          fetch(url)
          .then(response => response.blob())
          .then(blob => {
            const reader = new FileReader();
            reader.addEventListener("load", function() {
              this.modifiedImage = reader.result;
              this.calcLoading = false;
            }.bind(this));
            reader.readAsDataURL(blob);
          })
          .catch(err => console.log(err));
        }
      },
      sendImageToServer () {
        fetch(config.backend + "/uploadImage", {
          body: JSON.stringify({image: this.image}),   
          method: "post",
          headers: {"content-type": "application/json"},
        })
        .then(response => response.json())
        .then(json => {
          this.session = json.sessionKey;
          this.fetchModifiedImage();
        })
        .catch(err => console.log(err));
      },
      uploadFromFS(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function(event) {
           this.image = reader.result;
           this.isSelected = true;
        }.bind(this));

        reader.readAsDataURL(file);
      },
      openFileUpload(event) {
        document.getElementById("file-upload").click();
      }
    },
  }
  </script>